
<link href="${base}/resources/game/css/public.css" rel="stylesheet" />
<!--[if IE 7]><link rel="stylesheet" href="css/ie7.css" /><![endif]-->
<!--[if IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
<!--[if IE]><script type="text/javascript" src="js/html5.js"></script><![endif]-->
<script type="text/javascript" src="${base}/resources/game/js/iview.js"></script>
<script type="text/javascript" src="${base}/resources/game/js/jquery.plugins-min.js"></script>
<script type="text/javascript" src="${base}/resources/game/js/scripts-bottom-min.js"></script>

<div class="header">
	<div class="left1">
		<img class="left1Img" alt="" src="${base}/resources/game/images/header/jinbi.jpg">
	</div>
	<div id="onebyone_slider">
		<div class="oneByOne_item">
			<img src="${base}/resources/game/images/header/1.jpg" class="ob1_img_device1" alt="" />
		</div>
		<div class="oneByOne_item">
			<img src="${base}/resources/game/images/header/2.gif" class="ob1_img_device1" alt="" />
		</div>
		<div class="oneByOne_item">
			<img src="${base}/resources/game/images/header/3.jpg" class="ob1_img_device1" alt="" />
		</div>
		<div class="oneByOne_item">
			<img src="${base}/resources/game/images/header/4.jpg" class="ob1_img_device1" alt="" />
		</div>
	</div>
</div>