@charset "utf-8";
/* CSS Document */

/* Lightbox Evolution */
@import url('../js/lightbox/themes/default/jquery.lightbox.css');

/*FlexSlider*/
@import url('flexslider.css');

/*iView Slider*/
@import url('iview.css');

/* OneByOne Slider */
@import url('jquery.onebyone-min.css');

/*SMK Framework - Elements*/

/*General styles*/
@import url('style-min.css');

html, * {
	padding: 0;
	margin: 0;
	font-size: 16px;
}

img {
	border: 0;
}

a:link {
	text-decoration: none;
	color: #09F
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #09F;
}

body, h1, h2, h3, h4, h5, h6, a {
	font-family: "微软雅黑", Georgia, "Times New Roman", Times, serif, "宋体";
}

#top {
	height: 80px;
	width: auto;
	border-top: solid 3px #3654a4;
}

.top {
	width: 960px;
	left: 50%;
	margin-left: -480px;
	position: relative;
}

.top .top_left {
	width: 222px;
	float: left;
	height: 80px;
}

.top .top_left a {
	padding-top: 10px;
	display: block;
}

.top .top_left img {
	width: 150;
	height: 70px;
}

.top .top_right {
	width: 728px;
	float: right;
	text-align: right;
	height: 80px;
}

.top .top_right .top_slaes {
	width: auto;
	height: 30px;
}

.top .top_right #nav {
	width: auto;
}

.top .top_right #nav ul {
	width: auto;
}

.top .top_right #nav ul li {
	float: right;
	list-style-type: none;
	width: 80px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #000;
}

.top .top_right #nav ul li a {
	font-weight: bold;
	color: #000;
	display: block;
	width: 80px;
}

.top .top_right #nav ul li a:hover {
	font-weight: bold;
	color: #FFF;
	background: #000;
	display: block;
	text-decoration: none;
}

.header {
	width: auto;
	background: url(../images/header/header43.jpg);
}
.left1{
	float: left;
	width: 40%;
	height: 230px;
}
.left1 .left1Img{
	height:100%;
	width:100%;
}
.header #onebyone_slider span a {
	color: #FFF;
}

#jian {
	width: auto;
	margin-top: 10px;
	height: 90px;
}

#jian h3 img {
	float: left;
}

#jian .jian_c {
	width: 960px;
	left: 50%;
	margin-left: -480px;
	position: relative;
	background: #F0F0F0;
	height: 110px;
	border-radius: 10px;
}

#jian .jian_c ul {
	width: auto;
}

#jian .jian_c ul li {
	float: left;
	width: 200px;
	list-style-type: none;
	padding: 20px;
	font-size: 15px;
}

.content, .links, .footer {
	width: auto;
}

.content, .footer {
	margin-top: 40px;
}

.content_c {
	padding: 20px 0 0 0;
}

.content_c, .links_content, .clear_hr {
	width: 960px;
	left: 50%;
	margin-left: -480px;
	position: relative;
}

.links_left, .content_left {
	width: 222px;
	float: left;
}

.content_right {
	width: 728px;
	float: right;
}

.content_left span, .links_left span {
	border-top: solid 2px #0CF;
	padding: 2px 0 2px 0;
	font-weight: bold;
}

.content_left p, .links_left p {
	margin: 5px 0 5px 0;
	margin-bottom: 10px;
}

.content_right .c_r_l {
	width: 360px;
	float: left;
}

.content_right .c_r_r {
	width: 360px;
	float: right;
}

.content_right .c_r_r .content_j, .content_right .c_r_l .content_j {
	margin-top: 15px;
}

.content_right .c_r_l h3, .content_right .c_r_r h3 {
	width: auto;
	border-bottom: solid 1px #F0F0F0;
	padding-bottom: 2px;
	padding-right: 5px;
	padding-left: 15px;
	background: url(../images/h3_list.png) left no-repeat;
}

.content_right .c_r_l h3 a, .content_right .c_r_r h3 a {
	float: right;
	font-weight: normal;
	color: #0CF;
}

.content_right .c_r_l h3 a:hover, .content_right .c_r_r h3 a:hover {
	float: right;
	text-decoration: underline;
	font-weight: normal;
	color: #0CF;
}

.content_left p a, .links_left p a {
	color: #0CF;
}

.content_right ul {
	width: auto;
	margin-top: 5px;
	padding-left: 20px;
}

.content_right ul li {
	list-style-image: url(../images/li_list.png);
	padding: 2px 2px 2px 0;
	border-bottom: dashed 1px #F6F6F6;
}

.content_right ul li a {
	color: #333;
}

.content_right ul li a:hover {
	color: #0CF;
}

.content_right ul li span {
	float: right;
}

.links_right {
	border-left: solid 1px #E6E6E6;
	border-top: solid 1px #E6E6E6;
	width: 725px;
	float: right;
}

.links_right a {
	width: 144px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	border-bottom: solid 1px #E6E6E6;
	border-right: solid 1px #E6E6E6;
	float: left;
	color: #A6A6A6;
}

.links_right a:hover {
	border-bottom: solid 1px #0CF;
	width: 144px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	float: left;
	text-decoration: none;
	color: #000;
}

.clear_hr {
	clear: both;
	padding: 30px 0 30px 0;
}

.clear {
	clear: both;
	width: auto;
}

.s_clear {
	width: auto;
	clear: both;
	padding: 5px;
}

.footer {
	padding-bottom: 20px;
	border-top: #F0F0F0 1px solid;
	background: url(../images/footer_bg.png) repeat left top;
}

.footer .footer_list {
	padding: 10px 0 0 0;
	width: 960px;
	left: 50%;
	margin-left: -480px;
	position: relative;
}

.footer_list dl {
	float: left;
	margin: 0 19px 0 19px !important;
	margin: 0 16px 0 16px;
}

.footer_list dl dt, .footer_list dl dd {
	padding: 2px 0 2px 0;
}

.footer_list dl dt a {
	font-weight: bold;
	color: #333;
}

.footer_list dl dd a:hover {
	text-decoration: underline;
}

.footer_list dl dd a {
	color: #666666;
	font-size: 14px;
}

.footer .footer_list span a {
	color: #09F;
	font-size: 14px
}

.footer .footer_c {
	font-size: 14px;
	text-align: center;
	color: #666;
}

#tongji {
	display: none;
}

.content_l {
	float: left;
	width: 640px;
}

.content_r {
	float: right;
	width: 300px;
}

.content_l h1 {
	font-size: 24px;
}

.content_l .content_list {
	width: auto;
	padding: 5px 0 5px 0;
	margin: 5px 0 5px 0;
	border-bottom: solid 1px #F0F0F0;
	border-top: solid 1px #F0F0F0;
	color: #333;
}

.content_l .content_list span {
	margin-right: 10px;
	padding-right: 10px;
	border-right: solid 1px #F2F2F2;
	color: #3A3A3A
}

.content_l .content_info, .content_l .content_links {
	width: auto;
	padding: 5px;
	color: #3A3A3A
}

.content_l .web_share {
	margin: 0 auto;
	width: 145px;
	padding: 20px 0 20px 0;
}

.content_l .expand {
	width: auto;
	padding: 5px;
	border: solid 1px #F0F0F0;
	border-radius: 10px;
}

.content_l .expand:hover {
	width: auto;
	padding: 5px;
	border: solid 1px #09F;
	border-radius: 10px;
}

.content_r .content_r_list {
	width: auto;
}

.content_r .content_r_list h3 {
	border-bottom: solid 1px #F0F0F0;
	padding: 3px 0 3px 0;
}

.content_r .content_r_list ul, .content_l .expand ul {
	padding: 0 0 10px 20px;
	width: auto;
}

.content_r .content_r_list ul li, .content_l .expand ul li {
	list-style-image: url(../images/li_list.png);
	border-bottom: dashed 1px #F0F0F0;
	padding: 5px;
}

.content_r .content_r_list ul li a, .content_l .expand ul li a {
	color: #666;
}

.content_r .content_r_list ul li a:hover, .content_l .expand ul li a:hover
	{
	color: #0CF;
}

/*Slaes*/
.adver_bg {
	width: auto;
	padding-top: 10px;
	border-bottom: solid 1px #F6F6F6;
	border-top: solid 1px #F6F6F6;
	background: url(../images/footer_bg.png) center repeat;
}

.adver {
	width: 960px;
	margin-bottom: 10px;
	left: 50%;
	margin-left: -480px;
	position: relative;
	height: 90px;
}

/*------------------*/
.content_l {
	float: left;
	width: 640px;
}

.content_r {
	float: right;
	width: 300px;
}

.content_l h1 {
	font-size: 24px;
	border-bottom: solid 1px #F0F0F0;
}

.content_l .content_list {
	width: auto;
	padding: 5px 0 5px 0;
	margin: 5px 0 5px 0;
	border-bottom: solid 1px #F0F0F0;
	border-top: solid 1px #F0F0F0;
	color: #333;
}

.content_l .content_list span {
	margin-right: 10px;
	padding-right: 10px;
	border-right: solid 1px #F2F2F2;
}

.content_l .content_info {
	width: auto;
	padding: 5px;
}

.content_l .web_share {
	margin: 0 auto;
	width: 145px;
	padding: 20px 0 20px 0;
}

.content_l .expand {
	width: auto;
	padding: 5px;
	border-bottom: solid 1px #F0F0F0;
	border-top: solid 1px #F0F0F0;
}

.content_nav {
	width: auto;
	padding: 5px;
	border-bottom: solid 1px #F0F0F0;
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: solid 1px #F0F0F0;
	font-size: 14px;
}

.content_nav a {
	font-size: 14px;
	color: #09F;
}

.content_r .content_r_list {
	width: auto;
}

.content_r .content_r_list h3 {
	border-bottom: solid 1px #F0F0F0;
	padding: 3px 0 3px 0;
}

.content_r .content_r_list ul, .content_l .expand ul {
	padding: 0 0 10px 20px;
	width: auto;
}

.content_r .content_r_list ul li, .content_l .expand ul li {
	list-style-image: url(../images/li_list.png);
	border-bottom: dashed 1px #F0F0F0;
	padding: 5px;
}

.content_r .content_r_list ul li a {
	color: #666;
}

/*----------Promotion-----------*/
.case_class {
	width: auto;
	margin-top: 20px;
}

.case_class a {
	color: #09F;
	padding: 5px;
}

.case_list {
	width: auto;
	padding: 20px 0 20px 0;
}

.case_list .case_info {
	width: 300px;
	width: 296px !important;
	float: left;
	margin: 10px;
}

.case_list .case_info_pic {
	padding: 10px 0 10px 0;
	border: solid 1px #F0F0F0;
}

.case_list .case_info_pic img {
	border: 0;
	width: 298px;
	width: 294px !important;
}

.case_list h3 {
	width: auto;
	padding: 5px;
	text-align: center;
	background: #F0F0F0;
}

.case_list h3 span {
	margin-left: 20px;
	color: #FF0000;
	font-weight: normal;
}

.case_list h3 a {
	color: #09F;
}

.page {
	clear: both;
	padding-top: 20px;
	text-align: center;
}

/*Contact*/
#content .content_c #map {
	width: auto;
	padding: 0;
	margin: 30px 0 0 0;
	height: 300px;
}

.contact_c {
	padding: 20px;
	background: #F6F6F6;
	margin-top: 30px;
	border-radius: 20px;
}

.contact_m {
	width: 350px;
	float: left;
}

.message {
	width: 350px;
}

.message p {
	padding: 10px;
}

.message p .input, .message p .text {
	width: 100%;
	height: 30px;
	line-height: 30px;
	border: solid 1px #F0F0F0;
	border-radius: 5px;
}

.message p .text {
	height: 200px;
	border-radius: 10px;
}

.message p .button {
	width: 100px;
	height: 30px;
	border: solid 1px #F0F0F0;
	background: #FFF;
	border-radius: 5px;
}

.contact_info {
	width: 550px;
	float: right;
}

.info {
	width: 100%;
}

.contact_l_info {
	width: auto;
	padding: 5px 0 5px 0;
	border-bottom: solid 1px #F0F0F0;
}

.contact_l_info .contact_i_l {
	width: 60px;
	float: left;
}

.contact_l_info .contact_i_r {
	width: 490px;
	float: right;
}

.contact_list {
	padding-top: 30px;
}

.contact_list h3 {
	padding-bottom: 20px;
}

.contact_list a {
	padding: 5px 20px 5px 20px;
	border: solid 1px #F0F0F0;
	margin-right: 30px;
	background: #FFF;
	border-radius: 5px;
	color: #666;
}

.contact_list a:hover {
	padding: 5px 20px 5px 20px;
	border: solid 1px #09F;
	text-decoration: none;
	margin-right: 30px;
	background: #09F;
	border-radius: 5px;
	color: #FFF;
}

/*SEO*/
.s_left {
	width: 790px;
	float: left;
}

.s_right {
	width: 160px;
	float: right;
}

.seo_left_left {
	float: left;
	width: 380px;
}

.seo_left_right {
	float: right;
	width: 380px;
}

.seo_left_left h3, .seo_left_right h3 {
	padding: 2px 2px 2px 15px;
	background: url(../images/h3_list.png) left no-repeat;
	border-bottom: #F0F0F0 solid 1px;
}

.seo_left_left h3 a, .seo_left_right h3 a {
	float: right;
	font-weight: normal;
	font-size: 14px;
}

.seo_left_left ul, .seo_left_right ul {
	padding: 5px 5px 5px 20px;
}

.seo_left_left ul li, .seo_left_right ul li {
	list-style-image: url(../images/li_list.png);
	padding: 2px;
	border-bottom: dashed 1px #F0F0F0;
}

.seo_left_left ul li a, .seo_left_right ul li a {
	color: #666;
}

.seo_left_left ul li a:hover, .seo_left_right ul li a:hover {
	color: #09F;
}

.seo_left_left ul li span, .seo_left_right ul li span {
	float: right;
}

/*SiteMap*/
.sitemap_list {
	width: auto;
	padding: 30px 0 0 0;
}

.sitemap_list dl {
	width: auto;
}

.sitemap_list dt {
	width: auto;
	padding: 0 0 10px 0;
	border-bottom: solid 1px #F0F0F0;
}

.sitemap_list dt a {
	color: #000;
	padding-top: 2px;
	font-weight: bold;
	border-top: solid 2px #09F;
}

.sitemap_list dd {
	float: left;
	margin-top: 20px;
}

.sitemap_list dd a {
	padding: 10px 25px 10px 25px;
	color: #666;
	border: solid 1px #F0F0F0;
	margin-right: 20px;
}

.sitemap_list dd a:hover {
	border-top: solid 1px #09F;
	color: #000;
}

.hr {
	padding: 15px;
	width: auto;
	clear: both;
}

/*expand reading*/
.expand_read {
	width: auto;
	padding: 10px 20px 20px 20px;
	margin-top: 20px;
	border: solid 1px #F0F0F0;
	border-radius: 10px;
}

.expand_read:hover {
	width: auto;
	padding: 10px 20px 20px 20px;
	margin-top: 20px;
	border: solid 1px #09F;
	border-radius: 10px;
}

.expand_read a {
	padding: 10px 20px 10px 20px;
	background: #F0F0F0;
	margin-right: 20px;
	display: block;
	margin-top: 10px;
	float: left;
	color: #666;
	text-decoration: none;
	border-radius: 5px;
}

.expand_read a:hover {
	padding: 10px 20px 10px 20px;
	background: #09F;
	margin-right: 20px;
	display: block;
	margin-top: 10px;
	float: left;
	color: #FFF;
	text-decoration: none;
	border-radius: 5px;
}

/*Job*/
.content_l h1 span, .content_l h1 a {
	float: right;
	font-size: 14px;
	font-weight: normal;
}

.jobinfo_list {
	width: auto;
	padding: 10px 0 10px 0;
}

.jobinfo_list dl {
	float: left;
}

.jobinfo_list .job_name {
	width: 100px;
	background: #F6F6F6;
	border-top: solid 1px #F0F0F0;
}

.jobinfo_list .job_value {
	width: 210px;
	border-top: solid 1px #F0F0F0;
}

.jobinfo_list .job_name dd, .jobinfo_list .job_value dd {
	width: auto;
	padding: 5px;
	border-bottom: solid 1px #F0F0F0;
}

.content_l .job_h3 {
	clear: both;
	padding-top: 10px;
}

.jobinfo_content {
	padding: 10px 0 10px 0;
}

.jobcontent {
	width: auto;
	padding: 20px;
	border: solid 1px #F0F0F0;
	border-radius: 10px;
	margin-top: 20px;
}

.jobcontent:hover {
	width: auto;
	padding: 20px;
	border: solid 1px #09F;
	border-radius: 10px;
	margin-top: 20px;
}

/*Position*/
.jobcontent {
	width: auto;
	padding: 20px;
	border: solid 1px #F0F0F0;
	border-radius: 10px;
	margin-top: 20px;
}

.jobcontent:hover {
	width: auto;
	padding: 20px;
	border: solid 1px #09F;
	border-radius: 10px;
	margin-top: 20px;
}

.jobcontent div, .jobcontent p {
	padding: 5px 0 5px 0;
}

.job_class {
	width: auto;
	margin-top: 30px;
	border: solid 1px #F0F0F0;
	border-radius: 10px;
}

.job_class ul {
	width: auto;
}

.job_class ul li {
	width: 199px;
	list-style-type: none;
	float: left;
	padding: 20px;
}

.job_class ul li h3 img {
	float: left;
}

.jobcontent div, .jobcontent p {
	padding: 5px 0 5px 0;
}

/*Gongyi Question*/
.ques_list {
	width: auto;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid 1px #F0F0F0;
	border-radius: 10px;
}

.ques_list:hover {
	width: auto;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid 1px #09F;
	border-radius: 10px;
}

.ques_list h3 {
	padding: 5px 0 5px 0;
}

/*Links*/
.content_links dl {
	width: auto;
	padding-top: 20px;
}

.content_links dt span {
	font-weight: bold;
	padding: 2px 0 20px 0;
	border-top: solid 2px #09F;
}

.content_links dd {
	float: left;
	margin-top: 30px;
	margin-right: 30px;
}

.content_links dd a {
	padding: 10px 20px 10px 20px;
	border: solid 1px #F0F0F0;
	color: #666;
	border-radius: 5px;
}

.content_links dd a img {
	width: 81px;
	height: 30px;
	border: 0;
}

.content_links dd a:hover {
	padding: 10px 20px 10px 20px;
	border: solid 1px #09F;
	color: #09F;
	text-decoration: none;
	border-radius: 5px;
}